@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(54, 69, 79);
}

.details-box {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
    background-color: #f8eeee;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.side-tab {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFF0;
    gap: 10px;
}

.user-side-tab {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF0;
    gap: 10px;
}

.event-tab {
    height: 100%;
    width: 70% ; 
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.top-bar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#fffd8d;
}

.events-wrapper {
    width: 80%;
    flex: 1;
    width: 100%;
    overflow-y: scroll;
}

#admin-create-event-form, #admin-events-wrapper, #create-event-form, #organizer-events-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 45%;
    width: 80%;
    border: solid black 1px;
    border-radius: 10px;
    gap: 10px;
    overflow-y: auto;
}

#organizer-events-wrapper {
    justify-content: flex-start;
}

.tab {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover{
    background-color: #808080;
    cursor: pointer;
}

.tab.active {
    background-color: #CCC;
}

.tab h1:hover {
    cursor: pointer;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content]{
    display: flex;
}

.content-wrapper{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: rgb(54, 69, 79) ;
}

#admin-approvals-tab, #admin-events-tab, #admin-requests-tab, #organizer-events-tab, #organizer-requests-tab{
    height: 95%;
    width: 95%;
    /* border: solid 1px black; */
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    /* position: relative; */
    /* background-color: #808080; */
}

#user-events-tab {
    height: 95%;
    width: 95%;
    /* border: solid 1px black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;
    /* background-color: #808080; */
}

.request-card {
    height: auto;
    width: 80%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.event-card {
    height: auto;
    width: 80%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    position: relative;
}

.review-wrapper {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border: solid black 1px; 
    border-radius: 10px;
    width: 100%; height: auto; 
    min-height: 100px; 
    position: relative;
    background-color:  #FFFFF0;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.join-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;
    min-height: 200px;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: darkseagreen;
}

.my-event-card {
    padding: 10px;
    width: 90%;
    height: auto;  
    border-radius: 10px;
    border: solid black 1px;
    background-color: darkseagreen;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom: 10px;
}



